<style type="text/css">
    @import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
</style>
<link rel="stylesheet" href="{f:uri.resource(path: 'css/bootstrap.css')}" type="text/css" media="all">
<link rel="stylesheet" href="{f:uri.resource(path: 'css/bootstrap-material-design.css')}" type="text/css" media="all">
<link rel="stylesheet" href="{f:uri.resource(path: 'css/material-icons.css')}" type="text/css" media="all">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/snackbarjs/1.1.0/snackbar.min.css" type="text/css"
      media="all">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
      type="text/css" media="all">
<link rel="stylesheet" href="{f:uri.resource(path: 'css/semantify.css')}" type="text/css" media="all">
<link rel="stylesheet" href="{f:uri.resource(path: 'css/iasemantify-admin.css')}" type="text/css" media="all">

<script src="{f:uri.resource(path: 'JavaScript/jquery.min.js')}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="{f:uri.resource(path: 'JavaScript/snackbar.js')}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script src="{f:uri.resource(path: 'JavaScript/iasemantify-admin.js')}"></script>
<script src="{f:uri.resource(path: 'JavaScript/iasemantify-login.js')}"></script>



<script type="text/javascript">

    var IA_injection_is_checked = false;
    var IA_semantify_url_route_js = "";


    var websiteUID = "{websiteApiKey}";
    var websiteSecret = "{websiteApiSecret}";

    var iasi_saveWebsiteUID = "{websiteApiKey}";
    var iasi_saveWebsiteSecret = "{websiteApiSecret}";

    var myAjax = {};
     myAjax.ajaxurl = '<f:uri.action action="ajaxHandler" controller="InstantAnnotations" />';
     myAjax.ajaxurl = myAjax.ajaxurl.replace(/&amp;/g, '&');
     console.log("ajax",myAjax.ajaxurl);

</script>


<style>
    .check {
        margin-top: -20px;
    }

    span.check[disabled] {
        color: grey;
        background-color: grey;
        opacity: 0.5;
        cursor: not-allowed;
    }

    .inputBorder {
        border-radius: 40px;
    }

    .disabled_span {
        color: grey;
        background-color: grey;
        opacity: 0.5;
        cursor: not-allowed;
    }

    .semantify .snackbar-content{
        color:white !important;
    }
</style>

<div class="module-body t3js-module-body" style="margin:40px;">



    <div class="bootstrap semantify" id="ia_global_bootstrap_div">
        <h3>Instant Annotations</h3>
        <f:if condition="{pageId} == 0">
            <br/><p>To start, please choose a page from the list on the left side.</p>
        </f:if>
        <f:if condition="{pageId} != 0">
            <pre>DEBUG:
                page id: {pageId}
                api key from settings: {websiteApiKey}
                secret key from settings: {websiteApiSecret}
            </pre>

            <div>
                <div id="ia_warning_message_box" hidden>
                    <div class="alert alert-danger" role="alert">
                        <h4 id="ia_warning_msg"></h4>
                    </div>
                </div>
                <div id="ia_injection_box"></div>
                <select title="choose a type" onchange="onChangeSelect(this);" name="box_select" id="select_type"
                        style="background-color: white !important; min-width:150px "></select>
                <button style="margin-left:10px;padding:5px 20px" title="Please select a type first!"
                        class="btn btn-sm button-sti-red" id="addPane" disabled="true" type="button"><i
                        class="material-icons">note_add</i>
                </button>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-sm button-sti-red pull-right dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">menu</i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="ia_menu_report">Report</a></li>
                        <li><a href="#" id="ia_menu_help">Help</a></li>
                    </ul>
                </div>
                <button style="margin-right:10px;padding:5px 20px" title="Import from your semantify account"
                        class="btn btn-sm button-sti-red pull-right" id="ia_menu_add_ann" type="button"><i
                        class="material-icons"
                        style="transform: rotate(90deg);">exit_to_app</i>
                </button>
                <br/>
                <hr>
                <div class="container-fluid">
                    <div class="inside" id="inside">
                        <div class="row" id="row">
                        </div>
                    </div>
                </div>
            </div>
        </f:if>
    </div>

</div>


<script src="{f:uri.resource(path: 'JavaScript/instantAnnotations.js')}"></script>
<script src="{f:uri.resource(path: 'JavaScript/instantAnnotationsMainPage.js')}"></script>
